{
  "CB_ENV": "development",
  "USE_EMULATORS": "true",
  "EMULATOR_HOST": "localhost",
  "GOOGLE_MAPS_API_KEY": "",
  "POSTHOG_KEY": "",
  "POSTHOG_HOST": "https://app.posthog.com",
  "APP_CHECK_WEB_RECAPTCHA_KEY": "",
  "DEEP_LINK_BASE_URL": "https://campusbuzz.app"
}
